<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

<body>

    <% include ../partials/navigation %>

    <!-- Browse Header -->
    <header class="intro-header" style="background-image: url('/img/background.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1><%= category %></h1>
                        <hr class="large">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- /.intro-header -->

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <% posts.forEach(function(post) { %>
                <div class="content-section">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                                <div class="post-preview">
                                    <div class="clearfix"></div>
                                    <a target="_blank" href="/read">
                                        <h1 class="section-heading text-center"><%= post.title %></h1>
                                    </a>
                                    <img class="img-responsive" src="<%= post.imageUrl %>" alt="Article Image">
                                    <div class="well well-lg clearfix">
                                        <img alt="User Image" src="<%= post.author.avatar %>" 
                                             class="pull-left user-img img-circle">
                                        <p class="text-muted">
                                            Posted by <a href="#"><%= post.author.name %></a> on <%= post.date %>
                                        </p>
                                        <p class="lead">
                                            <%= post.lead %>
                                        </p>
                                        <hr />
                                        <a href="/read" class="btn pull-right">
                                            Read More <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.container -->
                </div>
                <!-- /.content-section -->
            <% }); %>   
            <!-- /forEach -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->

    <!-- Footer -->
    <% include ../partials/footer %>
    
    <!-- Scripts -->
    <% include ../partials/scripts %>

</body>

</html>
