<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

<body>
    
    <% include ../partials/navigation %>

    <!-- Post Header -->
    <header class="intro-header" style="background-image: url('/img/post-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1><%= post.title %></h1>
                        <h2 class="subheading"><%= post.subtitle %></h2>
                        <span class="meta">Posted by <a href="#"><%= post.author.username %></a> on <%= post.timestamp %></span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <%- post.content %>
                </div>             
            </div>
        </div>
    </article>
    
    <!-- Author info and comments -->
    <div class="container">
        <div class="row">
            
             <!-- Author details/bio -->
            <div class="well well-lg clearfix">
                <a href="#"><h2><%= post.author.fullname %></h2></a>
                <a href="#" class="pull-left">
                    <img alt="user image" src="<%= post.author.avatar %>" class="img-circle bio-img">
                </a>
                <p class="col-md-9 pull-right">
                    <%= post.author.bio %>
                </p>
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <!-- author social links -->
                    <ul class="list-inline text-center">
                        <li>
                            <a href="<%= post.author.twitter %>" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="<%= post.author.facebook %>" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="<%= post.author.instagram %>" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="<%= post.author.linkedin %>" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="<%= post.author.github %>" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Blog Comments -->
            
            <!-- Comments Form -->
            <div class="well">
                <h4>Leave a Comment:</h4>
                <form role="form">
                    <div class="form-group">
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>

            <hr>

            <!-- Posted Comments -->
            <% post.comments.forEach(function(comment) { %>
                <% include ../partials/comment %>
            <% }); %>
        </div>
    </div>
    
    <hr>

    <!-- Footer -->
    <% include ../partials/footer %>

    <!-- Scripts -->
    <% include ../partials/scripts %>

</body>

</html>
